<section class="contact">
  <div class="container">
    {% form 'contact' %}
      <div class="grid">
        <input type="text" name="contact[name]" placeholder="Nombre" required>
        <input type="email" name="contact[email]" placeholder="Email" required>
      </div>
      <textarea name="contact[body]" placeholder="Mensaje" required></textarea>
      <button type="submit">Enviar</button>
    {% endform %}
  </div>
</section>

{% schema %}
{ "name": "Formulario de contacto", "settings": [] }
{% endschema %}
