{% schema %}
{
  "name": "Footer",
  "settings": [
    { "type": "text", "id": "copyright", "label": "Texto de copyright", "default": "&copy; {{ 'now' | date: '%Y' }} Soluciones Textiles Laguna" },
    { "type": "link_list", "id": "menu", "label": "Menú de footer" }
  ]
}
{% endschema %}

<footer>
  <nav>{% menu section.settings.menu %}</nav>
  <p>{{ section.settings.copyright }}</p>
  <div class="social"> <!-- Agrega icons de social media --></div>
</footer>