<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a href="/" class="text-xl font-bold">SOLUCIONES TEXTILES LAGUNA</a>
    </div>
    <nav class="hidden md:flex space-x-6">
      <a href="/" class="hover:text-blue-300">Inicio</a>
      <div class="relative">
        <a href="/collections/maquinas" class="hover:text-blue-300">Máquinas</a>
        <div class="absolute hidden bg-white text-gray-800 p-4 shadow-lg">
          <a href="/collections/maquinas?filter.p.tag=industrial" class="block hover:bg-gray-200 p-2">Máquinas Industriales</a>
          <a href="/collections/maquinas?filter.p.tag=automation" class="block hover:bg-gray-200 p-2">Sistemas de Automatización</a>
        </div>
      </div>
      <a href="/collections/refacciones" class="hover:text-blue-300">Refacciones</a>
      <a href="/pages/quienes-somos" class="hover:text-blue-300">Quiénes Somos</a>
      <a href="/pages/contacto" class="hover:text-blue-300">Contacto</a>
    </nav>
    <div class="md:hidden">
      <button class="focus:outline-none">
        <svg data-feather="menu" width="24" height="24"></svg>
      </button>
    </div>
    <div class="hidden md:block">
      <button class="focus:outline-none">
        <svg data-feather="search" width="24" height="24"></svg>
      </button>
    </div>
  </div>
</header>